@if (accountService.$user()) {
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark" *appUserHasRoles="'admin,moderator'">
    <div class="container">
        <a class="navbar-brand">
            <strong>Staff Zone</strong>
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleCollapsed()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{'collapse': collapsed}">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" *appUserHasRoles="'admin'">
                    <a class="nav-link text-white" routerLink="/admin" routerLinkActive="active">
                        Admin
                    </a>
                </li>
                <li class="nav-item" *appUserHasRoles="'admin,moderator'">
                    <a class="nav-link text-white" routerLink="/moderator" routerLinkActive="active">
                        Moderator
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
}
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <strong>IdentityApp</strong>
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleCollapsed()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{'collapse': collapsed}">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        Home
                    </a>
                </li>
                @if (accountService.$user()) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/play" routerLinkActive="active">
                        Play
                    </a>
                </li>
                }
            </ul>

            @if (accountService.$user(); as user) {
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="h4 text-warning me-2 pointer" routerLink="/my-profile/edit-profile">
                        {{user.name}}
                    </a>
                    <a class="btn btn-secondary" (click)="logout()">
                        <i class="bi bi-box-arrow-in-left"></i> Logout
                    </a>
                </li>
            </ul>
            } @else {
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-secondary me-2" routerLink="/account/register" routerLinkActive="active">
                        <i class="bi bi-person-plus-fill"></i>
                        Register
                    </a>
                    <a class="btn btn-secondary" routerLink="/account/login" routerLinkActive="active">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Login
                    </a>
                </li>
            </ul>
            }
        </div>
    </div>
</nav>