@if (email) {
<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Change your password</h1>
        </div>
        <div class="row">

            <div class="col-12 col-md-6 offset-md-3 pb-3">
                <div class="text-center">
                    <p class="text-muted mb-4">
                        Enter the code we sent to
                        <span class="text-warning">{{email}}</span>
                    </p>

                    <app-code-input (fullCode)="fullCodeReceive($event)"></app-code-input>

                    <div class="mb-3">
                        <a routerLink="/account/send-email/forgot-username-or-password" class="btn btn-link">
                            Didn't get a code?
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 offset-md-3 pb-3">
                <label for="newPassword">New password</label>
                <input formControlName="newPassword" type="password" class="form-control"
                    [class.is-invalid]="form.get('newPassword')?.dirty && form.get('newPassword')?.errors" />
                @if(form.get('newPassword')?.dirty &&
                form.get('newPassword')?.hasError('required')) {
                <div class="invalid-feedback">
                    New password is required
                </div>
                } @else if (form.get('newPassword')?.dirty &&
                (form.get('newPassword')?.hasError('minlength')
                || form.get('newPassword')?.hasError('maxlength'))) {
                <div class="invalid-feedback">
                    New password must be at least 6, and maximum 15 characters
                </div>
                }
            </div>

            <div class="col-12 col-md-6 offset-md-3 pb-3 position-relative">
                <label for="confirmNewPassword">
                    Confirm new password
                </label>
                <input formControlName="confirmNewPassword" type="password" class="form-control" placeholder
                    [class.is-invalid]="form.get('confirmNewPassword')?.dirty && form.get('confirmNewPassword')?.errors" />
                @if(form.get('confirmNewPassword')?.dirty &&
                form.get('confirmNewPassword')?.hasError('required')) {
                <div class="invalid-feedback">
                    Confirm new password is required
                </div>
                } @else if (form.get('confirmNewPassword')?.dirty &&
                form.get('confirmNewPassword')?.hasError('notMatching')) {
                <div class="invalid-feedback">
                    Confirm new password does not match the new password.
                </div>
                }
            </div>

            @if (errorMessages.length > 0) {
            <div class="col-12 col-md-6 offset-md-3 pb-3">
                <app-validation-message [errorMessages]="errorMessages"></app-validation-message>
            </div>
            }

            <div class="col-12 col-md-6 offset-md-3 mt-2">
                <div class="row">
                    <div class="col">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="button"
                                routerLink="/account/login">Cancel</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-grid">
                            <button type="submit" [disabled]="!fullCode || fullCode.length < 6 || !form.valid"
                                class="btn btn-primary btn-block">Change
                                password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
}