@if (email) {
<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Change your password</h1>
        </div>
        <div class="row">

            <div class="col-12 col-md-6 offset-md-3 pb-3">
                <div class="text-center">
                    <p class="text-muted mb-4">
                        Enter the code we sent to
                        <span class="text-warning">{{email}}</span>
                    </p>

                    <app-code-input (fullCode)="fullCodeReceive($event)"></app-code-input>

                    <div class="mb-3">
                        <a routerLink="/account/send-email/forgot-username-or-password" class="btn btn-link">
                            Didn't get a code?
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 offset-md-3 pb-3">
                <app-form-input [formControl]="$any(form.controls['newPassword'])" [type]="'password'"
                    [label]="'New Password'" [submitted]="form.get('newPassword')?.dirty" [minLength]="6"
                    [maxLength]="15"></app-form-input>
            </div>

            <div class="col-12 col-md-6 offset-md-3 pb-3 position-relative">
                <app-form-input [formControl]="$any(form.controls['confirmNewPassword'])" [type]="'password'"
                    [label]="'Confirm new Password'" [submitted]="form.get('confirmNewPassword')?.dirty"
                    [invalidMessage]="'Confirm new Password does not match the New Password'"></app-form-input>
            </div>

            @if (errorMessages.length > 0) {
            <div class="col-12 col-md-6 offset-md-3 pb-3">
                <app-validation-message [errorMessages]="errorMessages"></app-validation-message>
            </div>
            }

            <div class="col-12 col-md-6 offset-md-3 mt-2">
                <div class="row">
                    <div class="col">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="button"
                                routerLink="/account/login">Cancel</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-grid">
                            <button type="submit" [disabled]="!fullCode || fullCode.length < 6 || !form.valid"
                                class="btn btn-primary btn-block">Change
                                password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
}